---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='https://twitter.com/saltnburnem' target='_blank'>
      Twitter
    </HeaderLink>
    <HeaderLink href='https://github.com/chrisdemars' target='_blank'>
      GitHub
    </HeaderLink>
  </nav>
</header>
