---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href}>
  <slot />
</a>
