<p>
  Hey friend! Welcome to my site. Not much to see yet, but stay tuned. I do a lot of things on the ole' world wide web, but I am most notably known for speaking and conducting workshops on web accessibiity and CSS. 
</p>